<% layout("./layouts/boilerplate")-%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h3>Create New Listing</h3>
            <br>
            <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Title" class="form-control" id="title" required>
                    <div class="valid-feedback">Title looks good!</div>
                    <div class="invalid-feedback">Please enter title</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" id="" cols="12" rows="5" placeholder="Description" class="form-control" id="description" required></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>
                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="text" name="listing[image]" placeholder="image url/link" class="form-control" id="image">
                </div> -->
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input type="file" name="listing[image]" class="form-control" id="image">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" placeholder="Price" class="form-control" id="price" required>
                        <div class="invalid-feedback">Please enter a valid price</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="Country" class="form-control" id="country" required>
                        <div class="invalid-feedback">Country name should be valid</div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" placeholder="Location" class="form-control" id="location" required>
                        <div class="invalid-feedback">Location should be valid</div>
                    </div>
                    <div class="mb-3 col-md-4">
                        <label for="category" class="form-label">Category</label>
                        <select class="form-select" name= "listing[category]" aria-label="Category" id="category">
                            <option selected>Category</option>
                            <option value="Rooms">Rooms</option>
                            <option value="Train">Train</option>
                            <option value="Flights">Flights</option>
                            <option value="Iconic Cities">Iconic Cities</option>
                            <option value="Beach">Beach</option>
                            <option value="Mountains">Mountains</option>
                            <option value="Pools">Pools</option>
                            <option value="Villa">Villa</option>
                            <option value="Farms">Farms</option>
                            <option value="Arctic">Arctic</option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-dark mt-3 mb-4 add-btn">Add</button>
                <br><br>
            </form>
        </div>
    </div>
</body>