body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1 !important; 
}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important; 
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.listing-link{
    text-decoration: none;
    cursor: pointer;
}
.card-img-overlay{
    opacity: 0;
    transition: all ease 0.2s;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.add-btn{
    background-color: #fe424d !important;
    border: none !important;;
}
.show-img{
    height: 30vh;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
/* map */
#map{
    height: 400px;
    width: 80vh;
}

.filter.active {
  color: #000;
  border-bottom: 2px solid #000;
  transform: scale(1.05);
}

.filter.active i {
  color: #000;
}

/* ChatBot */
#chatbot {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 300px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  overflow: hidden;
  z-index: 9999;
  font-size: 14px;
}
/* Small circular chatbot button */
#chatbot-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  background: #198754;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  cursor: pointer;
  z-index: 10000;
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}

.hidden {
  display: none;
}

#chat-header {
  background: #198754;
  color: white;
  padding: 10px;
  font-weight: bold;
  cursor: move;   /* 👈 shows draggable */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chat-body {
  height: 220px;
  padding: 10px;
  overflow-y: auto;
}

#chat-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-top: 1px solid #ddd;
}

@media (max-width: 576px) {
  #chatbot {
    width: 90%;
    right: 5%;
  }
}