<% layout("./layouts/boilerplate")-%>
    <div class="row">
        <h1 class="col-6 offset-3 mt-3">SignUp on Wanderlust</h1>
        <div class="col-6 offset-3 mt-3">
            <p class="text-muted text-center">
                We’ll send an OTP to your email for verification
            </p>
            <form action="/signup" method="post" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" placeholder="Username" class="form-control" id="username" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter username</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" placeholder="Email" class="form-control" id="email" required>
                    <div class="invalid-feedback">Please enter a valid email address</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" placeholder="Password" class="form-control" id="password" required>
                    <div class="invalid-feedback">Please enter password</div>
                </div>
                <button class="btn btn-success">SignUp</button>
            </form>
        </div>
    </div>