<% layout("./layouts/boilerplate") -%>

<div class="container my-4">
  <!-- Heading -->
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h1 class="mt-3 text-center text-md-start">Sign Up on Wanderlust</h1>
    </div>
  </div>

  <!-- Form -->
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <p class="text-muted text-center">
        We’ll send an OTP to your email for verification(Check Spam Section
        also.)
      </p>

      <form action="/signup" method="post" novalidate class="needs-validation">
        <div class="mb-3">
          <label class="form-label">First Name</label>
          <input
            type="text"
            name="firstName"
            class="form-control"
            placeholder="First name"
            required
          />
        </div>

        <div class="mb-3">
          <label class="form-label">Last Name</label>
          <input
            type="text"
            name="lastName"
            class="form-control"
            placeholder="Last name"
            required
          />
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            name="username"
            placeholder="Username"
            class="form-control"
            id="username"
            required
          />
          <div class="invalid-feedback">Please enter username</div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            name="email"
            placeholder="Email"
            class="form-control"
            id="email"
            required
          />
          <div class="invalid-feedback">Please enter a valid email address</div>
        </div>
        <div class="mb-3">
          <label class="form-label">Gender</label>
          <select name="gender" class="form-select" required>
            <option value="">Select gender</option>
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
          </select>
          <div class="invalid-feedback">Please select gender</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="form-control"
            id="password"
            required
          />
          <div class="invalid-feedback">Please enter password</div>
        </div>

        <div class="d-grid">
          <button class="btn btn-success">Sign Up</button>
        </div>
      </form>

      <div class="text-center mt-3">
        <p class="mb-0">
          Already have an account?
          <a href="/login" class="text-decoration-none fw-semibold">
            Login here
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
